<sa-spinner-circular styles="{&quot;background-color&quot;: &quot;grey&quot;}"
  [enabled]="loading"></sa-spinner-circular>

<div class="container-fluid">
  <form #form1="ngForm">
    <div class="row">
      <div class="col-md-12">
        <h4> Dynamic Time-Table Generator </h4>
        <div class="clearfix"><br/></div>
      </div>

      <div class="col-md-6">

        <div class="form-group">
          <div class="col-md-5">
            <label for="noWorkingDays">No of Working days<span class="text-danger">*</span></label>
          </div>
          <div class="col-md-7">
            <input type="number" class="form-control" id="noWorkingDays" name="noWorkingDays"
              aria-describedby="noWorkingDaysAria" min="0" oninput="validity.valid||(value='');"
              (input)="onHandleInput()" [(ngModel)]="timeTableVM.noWorkingDays" #noWorkingDays="ngModel" required>

            <div *ngIf="noWorkingDays.invalid  && submitted">
              <small id="noWorkingDaysAria" class="form-text text-muted text-danger">Please enter only +ve number
                between
                1 to 7</small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-5">
            <label for="totalSubjects">Total Subjects<span class="text-danger">*</span></label>
          </div>
          <div class="col-md-7">
            <input type="number" #numberInput class="form-control" id="totalSubjects" name="totalSubjects"
              aria-describedby="totalWorkingAria" min="0" oninput="validity.valid||(value='');"
              (input)="onHandleInput()" (change)="addSubjects(+numberInput.value)"
              [(ngModel)]="timeTableVM.totalSubjects" #totalSubjects="ngModel" required>

            <div *ngIf="totalSubjects.invalid && submitted">
              <small id="noSubjectsAria" class="form-text text-muted text-danger">Please enter only +ve numbers
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-5">
            <label for="noSubjectsPerDay">No of Subjects per day<span class="text-danger">*</span></label>
          </div>
          <div class="col-md-7">
            <input type="number" class="form-control" id="noSubjectsPerDay" name="noSubjectsPerDay"
              aria-describedby="noSubjectsAria" min="0" oninput="validity.valid||(value='');" (input)="onHandleInput()"
              [(ngModel)]="timeTableVM.noSubjectsPerDay" #noSubjectsPerDay="ngModel" required>

            <div *ngIf="noSubjectsPerDay.invalid && submitted">
              <small id="noSubjectsAria" class="form-text text-muted text-danger">Please enter only +ve number less than
                9
              </small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-5">
            <label>Total Hours of week:</label>
          </div>
          <div class="col-md-7">
            <p>{{this.timeTableVM.totalHourWeek}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group" *ngIf="timeTableVM.totalSubjects != undefined">
          <div class="col-md-5">
            <label for="sub">Enter Subjects<span class="text-danger">*</span></label>
          </div>
          <div class="col-md-7" *ngFor="let sub of timeTableVM.subjectsNames; let index = index;trackBy:trackByIndex;">
            <input type="text" class="form-control" name=a{{index}} [ngModelOptions]="{standalone: true}"
              [(ngModel)]="timeTableVM.subjectsNames[index]">
          </div>
        </div>

        <div class="form-group col-md-12">
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Generate</button>
        </div>
      </div>

      <div class="col-md-12" *ngIf="showTable">
        <div class="col-md-6">
          <app-timetable [timeTableList]="timeTableList"></app-timetable>
        </div>
      </div>
    </div>
  </form>
</div>