<table class="table table-striped table-bordered" *ngIf="timeTableList!=undefined && timeTableList.length > 0">
    <tbody>
        <tr *ngFor="let col of timeTableList; index as i">
            <td *ngFor="let sub of col.subject; index as j" width="10%">
                {{sub}}
            </td>
        </tr>
    </tbody>
</table>